:root { 
     
    --mcolor: #0fa4af; 
    --tcolor: #050000;

} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--mcolor);
    color: var(--tcolor)
  }
  
  h1 {
    font-size: 300%;
  }  
  header img { 
    width: 100px; 
    height: auto;
  } 
    
  nav {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} 
 

 
 main { padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #afdde5;
    
 } 
 
 main h2 {
    display: inline-block;
 }
 
 


  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    background-color: #afdde5
}

.footer h2 {
    font-size: 20px;
}
