:root { 
     
    --mcolor: #0fa4af; 
    --tcolor: #050000;

} 
* {
  background-color:  #afdde5;
}
header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--mcolor);
    color: var(--tcolor)
  }
  h1 {
    font-size: 300%;
  }  
  header img { 
    width: 100px; 
    height: auto;
  } 
  #regionImage {
    float: left;
    width:  40vw;
    height: 40vw;
    object-fit: cover;
}
  nav {
    display: block;
    padding: 1%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: large;
    background-color: var(--mcolor);
    color: var(--tcolor)
    ;
}
 
 main { padding: 20px;
  display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #afdde5;
    justify-content: flex-end;
    
 }
 body {
  justify-content: space-between;
 }

aside {
  float: left;
}
 


  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    background-color: #afdde5
}

.footer h2 {
    font-size: 20px;
}
